* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  user-select: none;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: #c04848; /* fallback for old browsers */
  background: linear-gradient(
    to right,
    #5f2c82,
    #49a09d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container {
  position: relative;
  top: -4rem;
  height: 400px;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 500;
  font-size: 3rem;
  background-color: #d6f8ff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-bottom: 4rem;
}

.dice-container {
  display: grid;
  gap: 1.3rem;
  grid-template: auto auto / repeat(5, 1fr);
}

.die-component {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.15s linear;

  cursor: pointer;
}

.die-face {
  font-weight: 500;
  font-size: 2.5rem;
}

.roll-button {
  border: none;
  background-color: #21d4fd;
  background-image: linear-gradient(90deg, #b32c8b9c 0%, #b921ffa6 100%);

  color: white;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;

  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.1s linear;
}
.roll-button:hover {
  background-color: #1fabca;
}

.held {
  background-color: rgb(255, 227, 65);
}

.roll-count {
  position: absolute;
  bottom: -6rem;
  left: 50%;
  transform: translateX(-50%);
}

.roll-count > h2 {
  color: #1c2338;
}

.count-face {
  font-size: 3rem;
  color: rgb(255, 227, 65);
  margin: 0 10px;
}
